@model FullArmorDetailsViewModel

@{
    ViewBag.Title = $"{Model.Armor.Name} Details";
}

<div class="container bg-transparent">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="text-center" style="margin-top: 10px;">
                <h4 class="text-light">@Model.Armor.Name</h4>
                <div class="team-single-img ">
                    <img src="@Model.Armor.ImageUrl" class="mx-auto d-block img-fluid rounded" style="height: 100%; width: 100%; display: block; margin-top: 20px ">
                </div>
                <p><h4 class="text-primary">Guardian class:</h4><div class="text-light h5"> @Model.Armor.ClassName</div></p>
            </div>
        </div>

        <div class="col-lg-8 col-md-7 d-flex align-items-start flex-column mt-5">
            <div class="">
                <h4 class="text-primary" style="margin-top: 10px;">Intrinsic: <strong class="text-info">@Model.Armor.IntrinsicName</strong></h4>
                <p class="text-light description" style="margin-left: 10px">@Model.Armor.IntrinsicDescription </p>
            </div>
        </div>
        <h3 class="text-warning">Created by: @Model.Armor.UserUsername</h3>
    </div>
</div>
@if (this.User.Identity.IsAuthenticated)
{

    @if (this.User.GetId() == Model.Armor.UserId || this.User.IsInRole(WebConstants.adminRoleName))
    {
        <div class="row mt-3">
            <div class="col-12 text-right">
                <a class="btn btn-secondary mr-1" href="/Armors/Edit/@Model.Armor.Id">Edit</a>
                <a class="btn btn-danger " href="/Armors/Delete/@Model.Armor.Id">Delete</a>
            </div>
        </div>
    }


    <partial name="_CommentFormPartial" model="@Model.CommentToBeAdded" />
}


<partial name="_CommentPartial" model="@Model.CommentClass" />

@section Scripts {
    <script>
        //TODO: Put this into the wwwroot/js folder
        $("#comments-button").on("click", ev => {
            let currTarget = ev.target;
            let currentTargetTagName = currTarget.tagName;

            if (currentTargetTagName !== "BUTTON" &&
                currentTargetTagName !== "I" &&
                currentTargetTagName !== "SPAN") {
                return;
            }

            // This is to get the correct element aka the DIV Right above the button
            if (currentTargetTagName === "BUTTON") {
                currTarget = currTarget.parentElement;
            }
            if (currentTargetTagName === "I" || currentTargetTagName === "SPAN") {
                currTarget = currTarget.parentElement.parentElement;
            }

            let commentButton = currTarget.children[0];

            if (currTarget.tagName === "DIV" && commentButton.tagName === "BUTTON") {
                let currCommentDiv = currTarget.parentElement.parentElement.parentElement;
                let repliesForComment = currCommentDiv.children[1];

                if (repliesForComment.style.display === "none") {
                    repliesForComment.style.display = "block";
                }
                else {
                    repliesForComment.style.display = "none";
                }
            }
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
