@model FullArmorDetailsViewModel

@{
    ViewBag.Title = "Armor Details";
}

<div class="container bg-light">
    <div class="row">
        <div class="col-lg-4 col-md-5 xs-margin-30px-bottom ">
            <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center" style="margin-top: 10px;">
                <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 margin font-weight-600 ">@Model.Armor.Name</h4>
                <div class="team-single-img ">
                    <img src="@Model.Armor.ImageUrl" class="mx-auto d-block img-fluid" style="height: 100%; width: 100%; display: block; margin-top: 20px ">
                </div>
                <p class="sm-width-95 sm-margin-auto"><h4>Weapon class:</h4> @Model.Armor.ClassName</p>
            </div>
        </div>

        <div class="col-lg-8 col-md-7">
            <div class="team-single-text padding-50px-left sm-no-padding-left">
                <h4 class="font-size38 sm-font-size32 xs-font-size30" style="margin-top: 10px;">Intrinsic: @Model.Armor.IntrinsicName</h4>
                <p class="no-margin-bottom border border-primary rounded" style="margin-left: 10px">@Model.Armor.IntrinsicDescription </p>
            </div>
        </div>
    </div>
</div>
@if (this.User.GetId() == Model.Armor.UserId || this.User.IsInRole(WebConstants.adminRoleName))
{
    <div class="row mt-3">
        <div class="col-12 text-right">
            <a class="btn btn-secondary mr-1" href="/Armors/Edit/@Model.Armor.Id">Edit</a>
            <a class="btn btn-danger " href="/Armors/Delete/@Model.Armor.Id">Delete</a>
        </div>
    </div>
}


<form asp-controller="Comments" asp-action="AddArmorComment" method="post" class="mt-5 bg-light">

    <div class="d-flex flex-row ml-2 mt-2"><h3>Add a comment</h3></div>
    <div class="d-flex flex-row align-items-start">
        @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">*@
        <div class="d-flex flex-row">
            @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="50">*@
            <div class="d-flex flex-column justify-content-start ml-4">
                <span class="d-block font-weight-bold">@User.Identity.Name</span><span class="text-black-50">Jan 2020</span>
            </div>
        </div>
    </div>
    <div class="mt-1 ml-4 mr-4">
        <div class="d-flex flex-row align-items-start ">
            <textarea class="form-control ml-1 shadow-none textarea d-inline-block" asp-for="CommentToBeAdded.Content" rows="3"></textarea>

        </div>
        <span asp-validation-for="CommentToBeAdded.Content" class="text-danger"></span>
    </div>
    <div>
        <input type="text" asp-for="CommentToBeAdded.ItemId" value="@Model.Armor.Id" hidden />
    </div>
    <div class="mt-2 text-left">
        <button class="btn btn-primary shadow-none ml-5" type="submit">Post Comment</button>
    </div>
</form>
<div class="row mt-5 bg-light">
    <div class="container mt-5" id="comments-button">
        @foreach (var comment in Model.Comments)
        {
            <div class="d-flex justify-content-center row">
                <div class="col-12">
                    <div class="d-flex flex-column ">
                        <div class="bg-white p-2 mt-2 mb-3">
                            <div class="d-flex flex-row user-info ">
                                @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="50">*@
                                <div class="d-flex flex-column justify-content-start ml-2">
                                    <span class="d-block font-weight-bold name">@comment.UserUsername</span><span class="date text-black-50">Jan 2020</span>
                                </div>
                            </div>
                            <div class="mt-2 ml-2">
                                <p>@comment.Content</p>
                            </div>
                            <div class="bg-white ml-2">
                                <div class="d-flex flex-row fs-12">
                                    <button class="btn btn-primary btn-sm shadow-none mr-3" type="button">
                                        <i class="fa fa-commenting-o"></i><span class="ml-1">Comments</span>
                                    </button>
                                    <section>
                                        <button class="btn btn-primary btn-sm shadow-none mr-3" type="button">
                                            <i class="fa fa-thumbs-o-up">
                                            </i><span class="ml-1">Like</span>
                                        </button>
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white p-2 ml-3" style="display: none;">
                            <form asp-controller="Comments" asp-action="AddArmorReply" method="post" class=" ml-3 mr-4 mb-2">
                                <div class="d-flex flex-row align-items-start">
                                    @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">*@
                                    <span class="d-block font-weight-bold name">@User.Identity.Name</span>
                                    <br />
                                    <input type="text" asp-for="ReplyToBeAdded.Content" class="form-control ml-1 shadow-none textarea" />
                                </div>
                                <span asp-validation-for="ReplyToBeAdded.Content" class="text-danger"></span>

                                <input type="number" asp-for="ReplyToBeAdded.CommentId" value="@comment.Id" hidden />
                                <input type="text" asp-for="ReplyToBeAdded.ItemId" value="@Model.Armor.Id" hidden />
                                <div class="d-flex flex-row justify-content-start mt-1">
                                    <input type="submit" class="btn btn-primary btn-sm shadow-none mr-3 ml-2" value="Reply" />
                                </div>
                            </form>

                            @foreach (var reply in comment.Replies)
                            {
                                <div class="bg-white p-2 mt-2 mb-3 border-top border-secondary ">
                                    <div class="d-flex flex-row user-info ">
                                        @*<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="50">*@
                                        <div class="d-flex flex-column justify-content-start ml-2">
                                            <span class="d-block font-weight-bold name">@reply.UserUsername</span>
                                            <span class="text-black-50">Jan 2020</span>
                                        </div>
                                        <section class="ml-3 mt-1">
                                            <button class="btn btn-primary btn-sm shadow-none mr-3" type="button">
                                                <i class="fa fa-thumbs-o-up">
                                                </i><span class="ml-1">Like</span>
                                            </button>
                                        </section>
                                    </div>
                                    <div class="mt-2 ml-2">
                                        <p>@reply.Content</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script>
        //TODO: Put this into the wwwroot/js folder
        $("#comments-button").on("click", ev => {
            let currTarget = ev.target;
            let currentTargetTagName = currTarget.tagName;

            if (currentTargetTagName !== "BUTTON" &&
                currentTargetTagName !== "I" &&
                currentTargetTagName !== "SPAN") {
                return;
            }

            // This is to get the correct element aka the DIV Right above the button
            if (currentTargetTagName === "BUTTON") {
                currTarget = currTarget.parentElement;
            }
            if (currentTargetTagName === "I" || currentTargetTagName === "SPAN") {
                currTarget = currTarget.parentElement.parentElement;
            }

            let commentButton = currTarget.children[0];

            if (currTarget.tagName === "DIV" && commentButton.tagName === "BUTTON") {
                let currCommentDiv = currTarget.parentElement.parentElement.parentElement;
                let repliesForComment = currCommentDiv.children[1];

                if (repliesForComment.style.display === "none") {
                    repliesForComment.style.display = "block";
                }
                else {
                    repliesForComment.style.display = "none";
                }
            }
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
