@model AllWeaponsQueryModel

@{ 
    ViewBag.Title = "All Weapons";
}

<div class="album py-5 bg-light">
    <form method="get">
        <div class="row form-group ml-2 mb-4">
            <div class="col-5">
                <label asp-for="SearchTerm">Weapon name:</label>
                <input type="text" class="form-control" asp-for="SearchTerm" />
            </div>
            <div class="col-4">
                <label asp-for="WeaponType">Weapon Class:</label>
                <select class="form-control" asp-for="WeaponType">
                    <option value="All">All</option>
                    @foreach (var weaponClass in Model.WeaponTypes)
                    {
                        <option value="@weaponClass">@weaponClass</option>
                    }
                </select>
            </div>
            <div class="col-2 text-center d-flex flex-column justify-content-end mr-1">
                <input type="submit" class="btn btn-primary" placeholder="Gjalarhorn..." value="Search">
            </div>
        </div>
</form>
    @{ 
        var previousPage = Model.CurrentPage - 1;

        previousPage = previousPage <= 0 ?
            1 :
            previousPage;

        var lastPage = (int)Math.Ceiling((double)Model.AllWeapons / Model.WeaponsPerPage);

        lastPage = lastPage <= 0 ?
            1 :
            lastPage;
    }

<div class="row">
    <div class="col-6">

        @if (Model.CurrentPage != 1)
        {
            <a asp-controller="Weapons"
               asp-action="All"
               asp-route-currentPage="@previousPage"
               asp-route-weaponType="@Model.WeaponType"
               asp-route-searchTerm="@Model.SearchTerm"
               class="btn btn-primary">
                    <i class="fa fa-chevron-left"></i>
            </a>
        }
    </div>
    <div class="col-6">
        @if (Model.CurrentPage != lastPage)
        {
            <a asp-controller="Weapons"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-weaponType="@Model.WeaponType"
               asp-route-searchTerm="@Model.SearchTerm"
               class="float-right btn btn-primary">
                    <i class="fa fa-chevron-right"></i>
            </a>
        }
    </div>

</div>
    <div class="container mt-4">
        <div class="row">
            @foreach (var weapon in Model.Weapons)
            {
                <partial name="_WeaponPartial" model="weapon" />
            }
        </div>
    </div>
</div>